# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
# Local History for Visual Studio Code
.history/
 
# Common credential files
**/credentials.json
**/client_secrets.json
**/client_secret.json
*creds*
*.dat
*password*
*.httr-oauth*
 
# Private Node Modules
node_modules/
vendor/
creds.js
 
# Private Files
package-lock.json
composer.lock

*.csv
*.csv.gz
*.tsv
*.tsv.gz
*.xlsx
 
 
# Mac/OSX
.DS_Store


# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.

/index.php
/languages
/plugins/index.php
/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php

# Uploads
# /uploads/

# Log files
*.log

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# Ignore all plugins
# /plugins/*

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes
themes/superstarcarwashchild/template-pages/test.php
